:root {
  --primary-color: #778899;
  --error-color: #f85032;
  --text-color: #0d0d0d;
  --transition: all ease-in-out 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.auth {
  display: flex;
  align-items: center;
  height: 100%;
}

.card {
  background: #fff;
  padding: 3rem;
  text-align: center;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}

.inputWrapper {
  margin: 1rem auto;
  width: 100%;
}

input:not([type='checkbox']),
button {
  border-radius: 0.5rem;
  width: 100%;
}

input:not([type='checkbox']),
textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  color: var(--text-color);
  transition: var(--transition);
}

input:not([type='checkbox']):focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

button {
  appearance: none;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: 1em;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

button.secondary {
  color: var(--primary-color);
  background-color: #fff;
  border-color: #fff;
}

button:hover,
button:focus {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.1);
}

.error {
  margin: 0;
  margin-top: 0.2em;
  font-size: 0.8em;
  color: var(--error-color);
  animation: 0.3s ease-in-out forwards fadeIn;
}

.two-cols {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.two-cols .left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-y: scroll;
}

.two-cols .right {
  overflow-y: auto;
}

.title {
  font-size: 1.3rem;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.85;
}

.title,
.subtitle {
  margin: 0;
}

.diary-tile {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.editor {
  height: 100%;
  padding: 1em;
}

.editor input {
  width: 100%;
}

.editor textarea {
  width: 100%;
  height: calc(100vh - 160px);
}

.entries ul {
  list-style: none;
  padding: 0;
}

.entries li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  cursor: pointer;
}

.entries li:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .two-cols .left {
    width: 25%;
  }

  .two-cols .right {
    width: 75%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}